@use 'variaveis';

.header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: variaveis.$cordefundo;
    transition: background-color 0.5s ease-in-out;


    &--is-hidden{
        background-color: transparent;
        transition: background-color 0.5s ease-in-out;
        
        .header{
            &__logo{
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.5s ease-in-out;
            }
            &__links__item:first-child{
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.5s ease-in-out;
            }
        }

        
    }
    &__container{
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

    }
    &__logo{
        max-width: 80px;
        width: 100%;
        margin: 5px;
        transition: opacity 0.5s ease-in-out;

    }
    &__links{
        display: flex;
        &__item{
            margin: 5px;
            list-style: none;
            transition: opacity 0.5s ease-in-out

        }

    }
    .button{
        height: 50px;

    }

}
