@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'devices';
@use 'faq';
@use 'footer';
@use 'header';

@font-face{
    font-family: Aveneir;
    src: url(../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}
@font-face{
    font-family: Aveneir;
    src: url(../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aveneir', sans-serif;
    list-style: none;
}



body {
    background-color: variaveis.$cordefundo;
    margin: 0;
    padding: 0;
   
}
@mixin text($fontsize:16px){
    font-size: $fontsize;
    line-height: $fontsize + 10px;
    color: variaveis.$corTextoPrincipal
}
@mixin title($fontsize:40px){
    @include text($fontsize);
    color: variaveis.$corTextoSecundario
}

.text--big{
    @include text(18px);

      @media (max-width:768px) {
        @include text(15px);
    }
}
.text{
    @include text();
      @media (max-width:768px) {
        @include text(14px);
    }
}
.text--small{
    @include text(12px);
      @media (max-width:768px) {
        @include text(11px);
    }
}
.link-text{
    @include text();
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
    cursor: pointer;
}
.title{
    @include title();

     @media (max-width:768px) {
        @include title(24px);
    }
}
.title--big{
    @include title(44px);

      @media (max-width:768px) {
        @include title(26px);
    }
}
.title--small{
    @include title(24px);

      @media (max-width:768px) {
        @include title(22px);
    }
}

.button{
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border: none;
             display: block;
             width: 100%;   
             height: 60px;
             font-size: 18px;
             color: variaveis.$corTextoSecundario;
             background-color: variaveis.$cordefundoBtnPrimario;
             text-transform: uppercase;
             border-radius: 4px;
             text-decoration: none;
             padding: 8px 14px;
             border: 1px solid variaveis.$cordefundoBtnPrimario;
             //word-spacing: 20px;
              &:hover{
                    background-color: lighten(variaveis.$cordefundoBtnPrimario,3%);
                }

             &--secondary{
                background-color: variaveis.$cordefundoBtnsecundario;
                border-color: variaveis.$cordefundoBtnsecundario;
                padding: 14px 10px;

                &:hover{
                    background-color: lighten(variaveis.$cordefundoBtnsecundario,3%);
                }
             }
             &--dark{
                background-color: rgb(variaveis.$cordefundoBtnDark,0.8);
                border-color: variaveis.$corTextoSecundario;
                padding: 14px 10px;

                &:hover{
                    background-color: variaveis.$corTextoSecundario;
                    color: variaveis.$cordefundo;
                }
            
             }
        
}
.image-text-section{
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width:768px) {
        display: block;
    }

    img{
        max-width: 100%;
    }
    &__content{
        padding: 0  2vw;
        h2{
            margin-bottom: 24px;
        }
    }
    &--image-full-width{
        display: block;
        position: relative;
       img{
        width: 100%;
       }
       &__content{
        position: absolute;
        top:0;
        height: 100%;
        left: 50%;
        width: calc(50% - 5.6vw);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

         @media (max-width:768px) {
        position: relative;
        left: 0;
        width: 100%
    }
       }
    }
}