@use 'hero';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$cordefundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;

body {
    background-color: $cordefundo;
}
@mixin text($fontsize:16px){
    font-size: $fontsize;
    line-height: $fontsize + 10px;
    color: $corTextoPrincipal
}
@mixin title($fontsize:40px){
    @include text($fontsize);
    color: $corTextoSecundario
}

.text--big{
    @include text(18px);
}
.text{
    @include text();
}
.text--small{
    @include text(12px);
}
.link-text{
    @include text();
    color: $corTextoSecundario;
    text-decoration: underline;
    cursor: pointer;
}
.title{
    @include title();
}
.title--big{
    @include title(44px);
}
.title--small{
    @include title(24px);
}